$mainTextSize: 10px;
$heroTextFont: "Modak";
$otherTextFont: "Roboto";
$heroTextSize: 6rem;
$listTextSize: 3rem;
$navTextSize: 2rem;
$otherLineHeight: 1rem;
$heroLineHeight: 8rem;
$backgroundPic: url("https://picsum.photos/800/600?random=2");